## THE PROJECT

#### Preprocessing

In [1]:
import re 
import pandas as pd

In [3]:
with open("WhatsApp Chat with Unofficial 2022 -26 üßëüèª‚ÄçüéìCSCYAIDS.txt", "r", encoding="utf-8") as f:
    data = f.read()

In [6]:
# Regex pattern to match the date and time at the start of each message
pattern=r'(\d{1,2}/\d{1,2}/\d{2,4}),\s(\d{1,2}:\d{2}\s[APMapm]{2})\s-\s([^:]+):\s(.*)'

mathes= re.findall(pattern, data)

# Create a DataFrame from the matches
df= pd.DataFrame(mathes, columns=["Date", "Time", "Sender", "Message"])

df.head()

,Date,Time,Sender,Message
0,1/18/24,5:36‚ÄØPM,Abishek Aachary,"Software 2,4 nd 5"
1,1/18/24,7:25‚ÄØPM,Jai Prakash Sharma,"Linux me to 2,3,4 batayi thi na"
2,1/18/24,7:28‚ÄØPM,Abishek Aachary,Hn
3,1/19/24,1:31‚ÄØPM,‚ù§Ô∏è‚Äçüî• ‡§®‡§ø‡§ñ‡§ø‡§≤ ‡§ö‡•å‡§ß‡§∞‡•Ä ü´∂ ‡§¨‡§§‡§æ‡§ì,"Anyone have practical file of (oops,DE, Linux ..."
4,1/19/24,1:33‚ÄØPM,Abishek Aachary,Waiting for this message

In [7]:
df.shape

(3862, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3862 entries, 0 to 3861
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     3862 non-null   object
 1   Time     3862 non-null   object
 2   Sender   3862 non-null   object
 3   Message  3862 non-null   object
dtypes: object(4)
memory usage: 120.8+ KB

In [10]:
df["Datetime"] = pd.to_datetime(df["Date"] + " " + df["Time"], format="%m/%d/%y %I:%M %p", errors='coerce')
df.to_csv("whatsapp_chat.csv", index=False)

df.head()

,Date,Time,Sender,Message,Datetime
0,1/18/24,5:36‚ÄØPM,Abishek Aachary,"Software 2,4 nd 5",2024-01-18 17:36:00
1,1/18/24,7:25‚ÄØPM,Jai Prakash Sharma,"Linux me to 2,3,4 batayi thi na",2024-01-18 19:25:00
2,1/18/24,7:28‚ÄØPM,Abishek Aachary,Hn,2024-01-18 19:28:00
3,1/19/24,1:31‚ÄØPM,‚ù§Ô∏è‚Äçüî• ‡§®‡§ø‡§ñ‡§ø‡§≤ ‡§ö‡•å‡§ß‡§∞‡•Ä ü´∂ ‡§¨‡§§‡§æ‡§ì,"Anyone have practical file of (oops,DE, Linux ...",2024-01-19 13:31:00
4,1/19/24,1:33‚ÄØPM,Abishek Aachary,Waiting for this message,2024-01-19 13:33:00

In [13]:
df['year']=df['Datetime'].dt.year

In [14]:
df.head()

,Date,Time,Sender,Message,Datetime,year
0,1/18/24,5:36‚ÄØPM,Abishek Aachary,"Software 2,4 nd 5",2024-01-18 17:36:00,2024
1,1/18/24,7:25‚ÄØPM,Jai Prakash Sharma,"Linux me to 2,3,4 batayi thi na",2024-01-18 19:25:00,2024
2,1/18/24,7:28‚ÄØPM,Abishek Aachary,Hn,2024-01-18 19:28:00,2024
3,1/19/24,1:31‚ÄØPM,‚ù§Ô∏è‚Äçüî• ‡§®‡§ø‡§ñ‡§ø‡§≤ ‡§ö‡•å‡§ß‡§∞‡•Ä ü´∂ ‡§¨‡§§‡§æ‡§ì,"Anyone have practical file of (oops,DE, Linux ...",2024-01-19 13:31:00,2024
4,1/19/24,1:33‚ÄØPM,Abishek Aachary,Waiting for this message,2024-01-19 13:33:00,2024

In [16]:
df['Datetime'].dt.month_name()

0       January
1       January
2       January
3       January
4       January
         ...
3857       June
3858       June
3859       June
3860       June
3861       June
Name: Datetime, Length: 3862, dtype: object

In [19]:
df['Months_name']=df['Datetime'].dt.month_name()
df['day']=df['Datetime'].dt.day
df['hour']=df['Datetime'].dt.hour
df['minute']=df['Datetime'].dt.minute
df.head()

,Date,Time,Sender,Message,Datetime,year,Months_name,day,hour,minute
0,1/18/24,5:36‚ÄØPM,Abishek Aachary,"Software 2,4 nd 5",2024-01-18 17:36:00,2024,January,18,17,36
1,1/18/24,7:25‚ÄØPM,Jai Prakash Sharma,"Linux me to 2,3,4 batayi thi na",2024-01-18 19:25:00,2024,January,18,19,25
2,1/18/24,7:28‚ÄØPM,Abishek Aachary,Hn,2024-01-18 19:28:00,2024,January,18,19,28
3,1/19/24,1:31‚ÄØPM,‚ù§Ô∏è‚Äçüî• ‡§®‡§ø‡§ñ‡§ø‡§≤ ‡§ö‡•å‡§ß‡§∞‡•Ä ü´∂ ‡§¨‡§§‡§æ‡§ì,"Anyone have practical file of (oops,DE, Linux ...",2024-01-19 13:31:00,2024,January,19,13,31
4,1/19/24,1:33‚ÄØPM,Abishek Aachary,Waiting for this message,2024-01-19 13:33:00,2024,January,19,13,33